.home{
    perspective: 0px;
    width: 100vw;
    height: 100dvh;
    background: linear-gradient(180deg, transparent, #040615);
    display: flex;
    justify-content: center;
    align-items: center;
}
.home::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    background-color: #6d00d3;
    box-shadow: 0 0 3px #6d00d3;
    left: 0;
    margin-left: 20%;
    bottom: 0;
}
.home::after{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #040615;
    border: 3px solid #6d00d3;
    box-shadow: 0 0 5px #6d00d3;
    border-radius: 50%;
    left: 0;
    margin-left: 19.6%;
    top: 30%;
}
.home .contents{
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 70%;
    margin-left: 13%;
    /* margin-top: 9%; */
}
.home .contents .tag{
    color: #a0a0a0;
    /* background-color: black; */
    position: absolute;
    top: 29.5%;
}
.home .contents .tag span{
    color: white;
    text-shadow: 0 0 5px white;
    animation: flickerSpan 2s linear infinite;
}
@keyframes flickerSpan {
    0%, 19%, 24%, 80% {opacity: 1;}
    20%, 23%, 81%, 84%, 89% {opacity: 0.6;}
    10%, 50%, 85% {opacity: .8;}
}
.home .contents .profile{
    text-align: left;
    position: absolute;
    top: 37%;
}
.tag1{
    font-size: 3.5em;
    margin-bottom: 0.5em;
    color: transparent;
    background-image: linear-gradient(to right, rgb(215, 215, 215), #ba7ff1);
    background-clip: text;
    -webkit-background-clip: text;
    font-family: 'Nova Square', sans-serif;
}
.tag2{
    font-size: 1.5em;
    color: transparent;
    background-image: linear-gradient(180deg, white, #9931fa);
    background-clip: text;
    -webkit-background-clip: text;
    font-family: 'Kalam', cursive;
}
.tag3{
    font-size: 1.5em;
    color: #a0a0a0;
    margin-top: 2em;
    font-family: 'Nova Square', sans-serif;
}