/* home page */
@media screen and (max-width: 450px) {
    section{
        max-width: 100%;
        overflow: hidden;
    }
    header{
        height: 3.5em;
    }
    header #menu{
        display: inline-block;
        font-size: 1.5em;
        position: absolute;
        left: 4%;
        margin: auto 0;
        color: #9931fa;
    }
    #close{
        display: none;
    }
    #close.active{
        display: inline-block;
        font-size: 1.8em;
        position: absolute;
        top: 5%;
        left: 6%;
        margin: auto 0;
        /* color: rgb(200, 200, 200); */
        color: #9931fa;
    }
    .side.active {
        left: 0;
    }
    .side div{
        margin-top: 80px;
        display: flex;
        align-items: start;
        flex-direction: column;
    }
    .side div a{
        text-decoration: none;
        color: rgb(200, 200, 200);
        /* color: white; */
        margin: 15px 15px 15px 50px;
        font-size: 1.3em;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Belgrano', serif;
    }
    .side div a ion-icon{
        text-align: center;
        color: #9931fa;
        font-size: 1.5em;
        margin: 0 15px 7px 0;
    }
    .side div a span{
        margin-left: 8px;
        color: #a0a0a0;
        /* text-shadow: 0 0 3px white; */
    }
    header h2{
        margin: 0 auto;
        font-size: 1.2em;
    }
    header h2 i{
        cursor: pointer;
        color: #9931fa;
        font-size: 1.2em;
        text-shadow: 0 0 5px #9931fa;
        animation: saturn 2s linear infinite;
    }
    header .navbar{
        display: none;
    }
    header .btn{
        display: none;
    }
    .home{
        width: 100%;
        overflow-x: hidden;
    }
    .home::before{
        height: 70%;
        margin-left: 8%;
    }
    .home::after{
        width: 5px;
        height: 5px;
        top: 29.9%;
        margin-left: calc(100vw - 93.1%);
    }
    .home .contents{
        margin-left: -5%;
        margin-right: 5%;
    }
    .home .contents .tag{
        font-size: 1em;
        display: flex;
        align-items: center;
    }
    .home .contents .tag span{
        font-size: 1em;
        margin-left: 0.3em;
    }
    .tag1{
        font-size: 1.7em;
        margin-bottom: 1.2em;
    }
    .tag2{
        font-size: 1em;
    }
    .tag3{
        font-size: 1em;
        color: #a0a0a0;
        margin-top: 2em;
        font-family: 'Nova Square', sans-serif;
    }
}   

/* about section */
@media screen and (max-width: 450px) {
    .about #background-text1{
        font-size: 2.9em;
        right: 0%;
        margin-top: -5.2em;
        /* color: white; */
    }
    .about #background-text2{
        font-size: 3em;
        right: -35%;
        margin-top: -2.1em;
    }
    .about::before{
        margin-left: 8%;
    }
    .about::after{
        left: calc(100vw - 93.1%);
    }
    .about .contents{
        margin-left: 12%;
        margin-top: 6%;
    }
    .about .contents .tag{
        top: 0.2em;
        font-size: 1em;
    }
    .about .contents .profile{
        margin: 10% auto 3em auto;
        height: 3em;
        width: 100%;
    }
    .about .contents .profile h1{
        font-size: 1.4em;
        margin: 0 0 0.4em 0;
        line-height: 1.6;
        color: #c7c7c7;
    }
    .about .contents .profile h1 span{
        color: #6d00d3;
    }
    .br{
        display: block;
    }
    .profile-summary{
        padding: 30px 30px;
        width: 95%;
        margin-left: 0;
    }
    .profile-summary span{
        margin-bottom: 1em;
        font-size: 0.8em;
    }
    .profile-summary span span{
        color: #6d00d3;
        text-shadow: 0 0 5px #9931fa;
    }
    .profile-summary p{
        font-size: 0.9em;
    }
    .profile-summary p span{
        font-size: 18px;
    }
    .skills{
        display: flex;
        padding: 30px;
        width: 95%;
    }
    .skills h2{
        font-size: 1.8em;
    }
    .skills span{
        width: 60px;
        height: 60px;
    }
    .skills i{
        font-size: 1.8em;
    }
    #a{
        margin-bottom: 26em;
        left: 20.5%;
        margin-left: 0%;
    }
    #b{
        left: 70%;
        margin-bottom: 13.5em;
        margin-left: 0%;
    }
    #c{
        margin-bottom: 12em;
        left: 20.5%;
        margin-left: 0%;
    }
    #d{ 
        left: 70%;
        margin-top: 27em;
        margin-left: 0%;
    }
    #e{
        margin-top: 16em;
        left: 20.5%;
        margin-left: 0%;
    } 
    #f{
        left: 70%;
        margin-top: 12em;
        margin-left: 0%;
    } 
    #a:before, #b:before, #c:before, 
    #d:before, #e:before{
        left: 100%;
        top: 50%;
        animation: length 1.5s linear forwards;
        /* display: none; */
    }
    #b:before, #d:before, #f:before{
        left: -250%;
        top: 50%;
        animation: length 1.5s linear forwards;
        /* display: none; */
        z-index: -1;
    }
    @keyframes length{
        to{
            width: 170px;
        }
        from{
            width: 0px;
        }
    }
    #a::after, #c::after, #e::after{
        width: 5px;
        height: 5px;
        left: calc(100% + 160px);
        margin-left: 4%;
        margin-top: 2%;
        animation: dots 2s linear forwards;
        display: none;
    }
    #b:after, #d:after, #f::after{
        width: 5px;
        height: 5px;
        left: calc(-200% + -40px);
        margin-left: 4%;
        margin-top: 2%;
        animation: dots 2s linear forwards;
        display: none;
    }
    .skills span p{
        position: absolute;
        min-width: 130px;
        display: none;
    }
    .css, .js, .sql, .java, .html, .git{
        top: 25%;
        font-size: 0.58em;
        animation: glow 1.5s linear forwards;
    }
    .css{
        left: calc(-100% + -80px);
    }
    .html{
        left: calc(100% + 108px);
    }
    .sql{
        left: calc(-100% + -80px);
    }
    .java{
        left: calc(100% + 113px);
    }
    .git{
        left: calc(-100% + -80px);
    }
    .js{
        left: calc(100% + 90px);
    }
    .degree{
        padding: 20px 10px 25px 10px;
        min-height: 15em;
        font-size: 0.8em;
    }
}
/* portfolio section */
@media screen and (max-width: 450px) {
    .portfolio #background-text3{
        font-size: 3em;
        right: 0;
    }
    .portfolio::before{
        margin-left: 8%;
    }
    .portfolio::after{
        margin-left: 7%;
    }
    .portfolio .tag{
        left: 15%;
        top: -7.2%;
    }
    .slider{
        position: relative;
        width: 80%;
        height: 85vh;
        margin: 3em;
    }
    .bg-item .contents{
        padding: 9% 2% 7% 8%;
    }
    .bg-item .contents a{
        top: 85%;
        right: 31%;
    }
    .bg-item .contents #p1{
        font-size: 0.8em;
        margin: 1em 0em 2em 0.5em;
        color: white;
    }
    .bg-item .contents #p2{
        font-size: 0.85em;
        width: 85%;
    }
    .bg-item .contents h2{
        font-size: 2.2em;
    }
    .arrows{
        top: 70%;
    }
    .arrows button{
        margin-inline: 0.1em;
    }
}
/* contact section */
@media only screen and (max-width: 450px) {
    .contact{
        height: 90dvh;
    }
    .contact::before{
        margin-left: 8%;
        min-height: 55vh;
    }
    .service{
        width: 100%;
        min-height: 55vh;
    }
    .service span{
        margin-top: 1em;
        margin-left: 5%;
    }
    .service div{
        width: 80%;
        margin-left: 8%;
    }
    .service div .big{
        font-size: 1.1em;
        margin-top: 0.5em;
        margin-bottom: 1.2em;
    }
    .service div .small{
        color: #a0a0aa;
        font-size: 0.8em;
    }
    .service .btn{
        width: 220px;
        margin: 3em 0 0 8%;
        padding: 13px;
    }
    .service .btn a{
        font-size: 1.4em;
        color: rgb(248, 248, 248);
    }
    .service .btn:hover{
        box-shadow: 0 0 130px #06e0f4;
    }
    .connect{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 2em;
        height: 35vh;
    }
    .connect div{
        position: absolute;
    }
    .connect div a{
        font-size: 0.8em;
    }
    .connect div:nth-child(1){
        bottom: 28%;
    }
    .connect div:nth-child(2){
        bottom: 20%;
    }
    .connect div:nth-child(3){
        bottom: 12%;
    }
    .connect div:nth-child(4){
        bottom: 4%;
    }
}